# https://github.com/rubeonline/Latex-gitignore-for-Mac/raw/master/.gitignore
*.synctex.gz
.project

*.swp

*.backup
.DS_Store
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

citation_keys